

/* Blog DETAIL */
a {
    text-decoration: none;
}
/* nút like */
section .blog-item {
    width: 100%;
}
section .blog-item .like-blog {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: flex-end;
}
section .blog-item  img{
    margin-top: 20px;
    width: 100%;
}
section .like-blog .like {
    width: auto;
    border-radius: 15px;
}
section .like-blog .number {
    color:rgb(241, 134, 138);
}
section .like-blog .like a {
    padding: 0 16px;
}
section .like-blog ul li {
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    padding: 6px;
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border-radius: 50%;
}
section .like-blog ul li a {
    color: black;
}
section .like-blog ul li a .tsi::before{
    font-family: 'ts-icons';
    color: black;
}
/* End nút like */

/* Author */
section .author {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
section .image {
    vertical-align: baseline;
    font-size: 100%;
    font-family: inherit;
}
section .image::before {
    content: "";
    position: absolute;
    left: 10%;
    width: 80%;
    height: 1px;
    background: #ebebeb;
}
section .author .image img {
    position: relative;
    width: 120px;
    height: auto;
    margin-top: -65px;
    z-index: 1;
}
section .author-content {
    width: 80%;
    margin: 0 auto;
}
section .author-content span {
    font-size: 11px;
    font-weight: 700;
    color: rgb(241, 134, 138);
    text-transform: uppercase;
}
section .author-content > a{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
section .author-content > .author-bio {
    font-size: 15px;
}
/* End Author */

/* END BLOG DETAIL */